### 파이썬 순서형

순서형(sequential type)이란 값들이 연속적으로 저장된 형태를 뜻한다.

즉, 문자열도 순서형이다.

그외에 대표적인 순서형으로 리스트와 튜플이 있다.

순서형 type의 공통된 연산으로 

인덱싱 : A[3]

슬라이싱 : A[3:6]

연결하기 : + 연산자

반복하기 : * 연산자

멤버 검사 : in 연산자

길이 변환 : len()

이 있다.

### 리스트

리스트 = [요소1. 요소2 요소3, ....]

예시)

A = [1,2,3] 

A = ['ad','as','fg']

A = [1, 2, 'gg']

A = list()

A = []

*리스트도 인덱싱 슬라이싱 가능

In [1]:
a = [1,2,3,4]

In [2]:
print(a)

[1, 2, 3, 4]

In [3]:
print(a[2])

3

In [4]:
a = [1,2,3,[4,5,6]]

In [5]:
a[3][2]

6

In [6]:
a[3][1:3]

[5, 6]

### 리스트 관련 함수들

요소 추가 : 리스트.append(값)

정렬: 리스트.sort() 
      리스트.sorted 원래 있던 배열을 건드리지 않고, 새롭게 섞은 배열을 새롭게 메모리에 저장

뒤집기: 리스트.reverse()

위치 반환: 리스트.index()

삭제 : del 리스트[위치]

기타 : insert, remove, pop, extend

In [7]:
a = [1,2,3,4,]

In [8]:
a.append(5)

In [9]:
print(a)

[1, 2, 3, 4, 5]

In [10]:
b = [8, 3, 2, 6, 1, 7, 8]

In [11]:
b.sort()

In [12]:
print(b)

[1, 2, 3, 6, 7, 8, 8]

In [13]:
b.reverse()

In [14]:
print(b)

[8, 8, 7, 6, 3, 2, 1]

In [15]:
del b[0]

In [16]:
print(b)

[8, 7, 6, 3, 2, 1]

In [17]:
b.index(8)

0

### 튜플

튜플 = (요소1. 요소2 요소3, ....)

예시)

A = (1,2,3)

A = ('ad','as','fg')

A = (1, 2, 'gg')

A = tuple()

A = (1,)

A = 1, 2, 3

- 튜플은 리스트와 거의 비슷하지만 [ 대신 (를 쓴다. 또한, 1개의 요소만 가지면 반드시 , 를 붙여야하고 괄호를 생략해도 된다.
- *튜플과 리스트의 가장 큰 차이는 튜플은 값을 변경할 수 없다는 것이다.

### set

set이란 데이터를 순서와 상관없이 중복도 허가하지 않고 모아높은 자료형으로 정확히는 순서형은 아니지만 튜플, 리스트와 유사성이 많다.

예시)

A = {1,2,3}

A = set(['sd','as','df'])

A = set('hello,world')

A = set()

*순서가 없기 때문에 인덱싱과 슬라이싱 불가능!

### set 의 연산

주요 연산으로

값 추가: 셋.add(값)

전체 제거 : 셋.clear()

합집합: 셋1.union(셋2)

교집합: 셋1.intersection(셋2)

차집합: 셋1.difference(셋2)


기타: copy, discard, remove, pop, update, intersection_update, difference_update 등

### 형 변환

set() : set으로 변환

tuple() : tuple로 변환

list() : list로 변환

In [18]:
a = 'hello world'
print(set(a))

{'r', 'o', 'h', 'e', ' ', 'w', 'l', 'd'}

In [23]:
a = [32,1,4,2]
print(set(a))

{32, 1, 2, 4}

In [24]:
a = {1,2,3}
b = {4,5,6}

In [25]:
a.add(4)

In [26]:
print(a)

{1, 2, 3, 4}

In [27]:
print(a.union(b))

{1, 2, 3, 4, 5, 6}

In [30]:
print(a.intersection(b))

{4}

In [31]:
print(a.difference(b))

{1, 2, 3}

In [34]:
print(list(a))

[1, 2, 3, 4]

In [35]:
print(tuple(a))

(1, 2, 3, 4)

In [36]:
print(set(a))

{1, 2, 3, 4}